In [ ]:
import kagglehub
import pandas as pd
import os 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

# Download latest version
path = kagglehub.dataset_download("bhadramohit/climate-change-dataset")
file_path = os.path.join(path, "climate_change_dataset.csv") 

print("Path to dataset files:", path)
df = pd.read_csv(file_path) 
df.head()

# Upload to S3

Downloading from https://www.kaggle.com/api/v1/datasets/download/bhadramohit/climate-change-dataset?dataset_version_number=1...

python(92623) MallocStackLogging: can't turn off malloc stack logging because it was not enabled.
100%|██████████| 21.8k/21.8k [00:00<00:00, 11.7MB/s]

Extracting files...
Path to dataset files: /Users/sailormo/.cache/kagglehub/datasets/bhadramohit/climate-change-dataset/versions/1

0.00s - Debugger warning: It seems that frozen modules are being used, which may
0.00s - make the debugger miss breakpoints. Please pass -Xfrozen_modules=off
0.00s - to python to disable frozen modules.
0.00s - Note: Debugging will proceed. Set PYDEVD_DISABLE_FILE_VALIDATION=1 to disable this validation.

,Year,Country,Avg Temperature (°C),CO2 Emissions (Tons/Capita),Sea Level Rise (mm),Rainfall (mm),Population,Renewable Energy (%),Extreme Weather Events,Forest Area (%)
0,2006,UK,8.9,9.3,3.1,1441,530911230,20.4,14,59.8
1,2019,USA,31.0,4.8,4.2,2407,107364344,49.2,8,31.0
2,2014,France,33.9,2.8,2.2,1241,441101758,33.3,9,35.5
3,2010,Argentina,5.9,1.8,3.2,1892,1069669579,23.7,7,17.7
4,2007,Germany,26.9,5.6,2.4,1743,124079175,12.5,4,17.4

In [ ]:
import math

In [17]:
features = ['Year', 'Country', 'Extreme Weather Events',
             'Avg Temperature (°C)', 'Sea Level Rise (mm)' ]
df_clean_2 = df[features]

df_clean_2.head(10)

,Year,Country,Extreme Weather Events,Avg Temperature (°C),Sea Level Rise (mm)
0,2006,UK,14,8.9,3.1
1,2019,USA,8,31.0,4.2
2,2014,France,9,33.9,2.2
3,2010,Argentina,7,5.9,3.2
4,2007,Germany,4,26.9,2.4
5,2020,China,12,32.3,2.7
6,2006,Argentina,10,30.7,3.9
7,2018,South Africa,1,33.9,4.5
8,2022,UK,4,27.8,1.5
9,2010,Australia,5,18.3,3.5